<div>

  <div class="container-fluid">
    
    <header class="row">

      <h1 class="col-lg-offset-1 col-lg-10 col-md-offset-2 col-md-9 col-sm-offset-2 col-sm-9 col-xs-offset-2 col-xs-10">The Choose!</h1>
      
      <!-- {{#if user.isLogged}}Logueado! 
            {{/if}} -->

      <!--<nav id="menu">
        
        <ul>

          <li><a href="#polls">{{i18n 'Polls'}}</a></li>

          <li>
          
            <div id="userbar">Loading...</div>
            
          </li>
          
        </ul>

      </nav>-->

      <div id="userbar">Loading...</div>

    </header>

    <!-- router contents -->

    <div class="row">

      <div id="navigationbar">Loading...</div>
      <div id="maincontent">

        Loading...
        
      </div>

    </div>

  </div>

  <footer>

    <!--<div id="languagecontrol">Loading...</div>-->
    <p>{{i18n 'Created by @lasouto & @mvfernandez3' }}'</p>

  </footer>

</div>
